{{define "content"}}
<div class="container mt-5">
    <header class="text-center mb-5">
        <h1>Welcome to Logos Stories</h1>
        <p>Select a story to begin reading</p>
        <hr />
    </header>

    <div class="stories-list row">
        {{range .Stories}}
        <div class="col-md-4 mb-4">
            <div class="card story-item">
                <div class="card-body">
                    <h2 class="card-title">{{.Title}}</h2>
                    <a href="/stories/{{.ID}}/page1" class="btn btn-primary"
                        >Start Reading</a
                    >
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{end}}
