<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Page 1</title>
        <link rel="stylesheet" href="/static/css/global.css" />
        <link rel="stylesheet" href="/static/css/page1.css" />
    </head>
    <body>
        <div class="container">
            {{range .Lines}}
            <div class="line">
                <span>{{.Text}}</span>
                <button onclick="playAudio('{{.AudioURL}}')">Play</button>
            </div>
            {{end}}
        </div>

        <script>
            function playAudio(url) {
                new Audio(url).play();
            }
        </script>
    </body>
</html>
