{{template "base" .}} {{define "head"}}
<link rel="stylesheet" href="/static/css/page1.css" />
{{end}} {{define "content"}}
<div class="container mt-5">
    <header class="text-center mb-4">
        <h1>{{ .StoryTitle }}</h1>
        <h2>Step 1: Listen to the entire story.</h2>
        <p>
            Click the first play button to listen to the story. It will play
            from that point onward.
        </p>
        <hr />
        <p>Click any play button to restart the story from that point.</p>
    </header>

    <div class="story-content">
        {{range .Lines}}
        <div class="line">
            <span class="story-text">{{.Text}}</span>
            {{ if .AudioURL }}
            <button
                class="btn btn-outline-primary"
                onclick="playAudio('{{.AudioURL}}')"
            >
                <span class="material-icons">play_arrow</span>
            </button>
            {{ end }}
        </div>
        {{ else }}
        <p class="text-center">
            This story has no text associated with it yet.
        </p>
        {{end}}
    </div>
    <input type="hidden" id="storyID" value="{{ .StoryID }}" />
</div>
{{end}} {{define "scripts"}}
<script src="/static/js/audioPlayer.js"></script>
{{end}}
