{{template "base" .}} {{define "head"}}
<link rel="stylesheet" href="/static/css/page1.css" />
{{end}} {{define "content"}}
<div class="container mt-5">
    <header class="text-center mb-4">
        <h1>{{ .StoryTitle }}</h1>
        <h2>Step 3: Find the grammar points.</h2>
        <p>
            The grammar point for this story is: <strong>{{ .GrammarPoint }}</strong>.
            There are {{ .GrammarPointsCount }} grammar points in this story. Find them all. 
            If a grammar point has multiple words, selecting any of the words will count as a correct answer.
        </p>
    </header>

    <div class="story-content">
        {{range .Lines}}
        <div class="line">
            <span class="story-text">{{.Text}}</span>
        </div>
        {{ else }}
        <p class="text-center">
            This story has no text associated with it yet.
        </p>
        {{end}}
    </div>
    <input type="hidden" id="storyID" value="{{ .StoryID }}" />
</div>
{{end}} {{define "scripts"}}
{{end}}
