<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vocabulary Practice - {{ .StoryTitle }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/global.css" />
        <link rel="stylesheet" href="/static/css/page2.css" />
        <!-- Add Material Icons -->
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
    </head>
    <body>
        <header class="mb-8">
            <h1>{{ .StoryTitle }}</h1>
            <h2 class="text-2xl mb-4">Step 2: Vocabulary Practice</h2>
            <p class="text-gray-700">
                Fill in the blanks with the correct vocabulary words:
            </p>
        </header>

        <div class="container">
            {{range $lineIndex, $line := .Lines }}
                <div class="line {{if $line.HasVocab}}has-vocab{{end}}">
                    <div class="story-text" dir="rtl">
                        {{range $index, $text := .Text}}
                            {{ if eq $text "%" }}
                                <!-- Added data-line attribute -->
                                <select class="vocab-select" data-line="{{$lineIndex}}">
                                    <option value="">Choose...</option>
                                    {{range $.VocabBank}}
                                        <option value="{{.}}">{{.}}</option>
                                    {{end}}
                                </select>
                            {{ else }}
                                <span>{{$text}}</span>
                            {{end}}
                        {{ end }}
                        {{ if $line.AudioURL }}
                            <button
                                onclick="playAudio('{{$line.AudioURL}}')"
                                class="audio-button"
                                data-playing="false"
                            >
                                <span class="material-icons">play_arrow</span>
                            </button>
                        {{end}}
                    </div>
                </div>
            {{end}}
            <input type="hidden" id="storyID" value="{{ .StoryID }}" />
        </div>
        <!-- Add check answers button -->
        <div class="text-center mt-8 mx-auto">
            <button type="button" id="checkAnswers" class="btn btn-disabled">
                Check Answers
            </button>
        </div>

        <script src="/static/js/vocabPractice.js"></script>
        <!-- Adjust the audio playing -->
        <script src="/static/js/audioPlayer2.js"></script>
    </body>
</html>
