<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Grammar Practice - {{ .StoryTitle }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/global.css" />
        <link rel="stylesheet" href="/static/css/stories.css" />
        <link rel="stylesheet" href="/static/css/page3.css" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
    </head>
    <body>
        <header class="mb-8">
            <h1>{{ .StoryTitle }}</h1>
            <h2 class="text-2xl mb-4">Step 3: Grammar Practice</h2>
            <p class="text-gray-700">
                You can see occurences of this week's grammar point underlined below.
            </p>
            <p class="text-gray-700">
                As a reminder, the grammar point(s) is/are: 
                {{ .GrammarPoint }}.
            </p>
        </header>

        <div class="container">
            {{range $lineIndex, $line := .Lines }}
                <div class="line {{if $line.HasVocabOrGrammar}}has-grammar{{end}}">
                    <div class="story-text" dir="rtl">
                        {{range $index, $text := .Text}}
                            {{ if eq $text "%" }} 
                                <!-- Start -->
                                <span class="grammar-point">
                            {{ else if eq $text "&" }} 
                                <!-- End -->
                                </span>
                            {{ else }}
                                {{$text}}
                            {{end}}
                        {{ end }}
                        {{ if $line.AudioURL }}
                            <button
                                data-url="{{.AudioURL}}"
                                class="audio-button"
                                data-playing="false"
                            >
                                <span class="material-icons">play_arrow</span>
                            </button>
                        {{end}}
                    </div>
                </div>
            {{end}}
            <input type="hidden" id="storyID" value="{{ .StoryID }}" />
        </div>

        <script type="module" src="/static/js/audioPlayer2.js"></script>
    </body>
</html>